
<HTML>
	<HEAD>
   	<TITLE>Test Template</TITLE>
      <link rel="stylesheet" type="text/css" href="http://localhost/mystyle.css" />
	</HEAD>
   
   <BODY>
       
   	
   	
   	
   	
	
	<table width="500" border="0">
<tr>
<td colspan="2" style="background-color:#FFA500;">
<h1>Easy Accounting</h1>
</td>
</tr>

<tr valign="top">
<td style="background-color:#FFD700;width:100px;text-align:top;">

	<a href="http://localhost/index.html"> Home</a> <br />	
	<a href="http://localhost/newClient.html">Add New Client</a> <br />
	<a href="http://localhost/addNewSupplier.html" title="">Add New Supplier</a><br />
	<a href="http://localhost/cgi-bin/clientList.pl"  title="Click here to see all client list!">Client List</a><br />
	<a href="http://localhost/cgi-bin/supplierList.pl"  title="Click here to see all supplier list!">Supplier List</a><br />
	<a href="http://localhost/newItem.html"  title="Click here to add new item!">New Item</a>



</td>
<td style="background-color:#EEEEEE;height:400px;width:400px;text-align:top;">



<table>
			<caption>Payment History for Bill Number <TMPL_VAR NAME="billnumber"> </caption>       
       	
       		<tr>
       			<th>DATE</th>
       			<th>Payment Code</th>
       			<th>Amount Paid</th>
       			<th>Remark</th>
					  
					    			
       			
       		</tr>
       	
       	   <TMPL_LOOP NAME="DB_LOOP">
       		<tr>

					<td><TMPL_VAR NAME="date"></td>
       			<td><TMPL_VAR NAME="receivedcode">	</td>
       			<td><TMPL_VAR NAME="amount"></td>
       			<td><TMPL_VAR NAME="remark"></td>
       		</tr>
       	 	</TMPL_LOOP> 
       	
       	      
		</table>




</td>
</tr>

<tr>
<td colspan="2" style="background-color:#FFA500;text-align:center;">
Copyright © 2012 AMDVS.com</td>
</tr>
</table>   	
   	
   	
   	
   	
   	
   	
		
		
       
   </BODY>
</HTML>

